

$pointer: pointer;
$mid-margin: 20px;
$large-margin: 50px;
$p-color: #00A14B;
$s-color: #FBAF3F;
$t-color: #BE1E2D;
$h-color: rgb(59, 9, 144);


// utils
.logo {
    margin-bottom: $mid-margin;
    margin-top: $mid-margin;
}
.pointer {
    cursor: $pointer;
}

//margin
.mid-margin {
    margin-bottom: $mid-margin;
}
.large-margin-bottom {
    margin-bottom: $large-margin;
}
// buttons
.add-button {
    color: $s-color;
    &:hover {
        color: $p-color;
    }
}

.remove-button {
    color: $s-color;
    &:hover {
        color: $t-color;
    }
}

.action_button {
  margin-left:  $mid-margin; 
  display: none;
}

.complete {
    color: $p-color;
}
.pending {
    color: $t-color;
}
.out_of_scope {
    color: $h-color;
    text-decoration: line-through;
}

.product:hover > .action_button { display: inline-block } 

.inline {
    display: inline-block; 
}
.count_title {
    float: right;
    font-size: 50px;
}
.push-right {
    float: right;
}
